.container {
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #186839;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 3rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
 .toggleButton{
    color: #D3AA2B;
    background-color: #E71D1E ;
    position: relative;
    bottom: -30px;
    left: -291px;
    border-color:#D3AA2B ; } 

  p {
    margin-top: 5%;
    color: #EEEEEE;
    font-family: 'Indie Flower', cursive;
    text-align: center;
  
  }
  